:root {
    --fuentePrincipal: 'Gothic A1', sans-serif;
    --fuenteSecundario: 'Oswald', sans-serif;
    --primario: #f1a94e;
    --secundario: #44b3c2;
    --blanco: #ffffff;
}

html {
    box-sizing: border-box;
}
body {
    font-family: var(--fuentePrincipal);
}

.contenedor {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 2.8rem;
}
h2 {
    font-size: 2.6rem;
}
h3 {
    font-size: 2.4rem ;
}
p {
    font-family: var(--fuentePrincipal);
    font-size: 1.2rem;
    line-height: 2rem;
}
/* hero */
.hero {
    /* imagen se ve cortada */
    background-image: url(../img/fondo.jpg);
    /* height para la imagen */
    height: 100vh;
    background-repeat: no-repeat;
    /* imagen estirada */
    background-size: cover;
}
/* queda un espacio en blanco arriba del dom */
/* es debido al h1 que tiene margin */
.titulo {
    margin: 0;
}

.hero .contenedor {
    display: grid;
/* No lo centra debido a que .contenedor debe tener height 100% */
    height: 100vh;
    /* lo baja al centro, pero hacia la izquierda */
    align-content: center;
    /* lo centra, pero lo deja arriba. los dos juntos lo centra en el medio de la pantalla */
    justify-content: center;
}

.hero .contenido {
    text-align: center;
    color: var(--blanco);
}

.subtitulo {
    font-size: 1.6rem;
}

/* Servicios */
.servicios {
    text-align: center;
    margin-top: 2rem;
}

.servicios h2 {
    padding-bottom: .5rem;
}

.servicios h2::after {
    height: .5rem;
    width: 15rem;
    background-color: var(--primario);    
    /* para que se vea un after */
    content: '';
    display: block;
    /* centrar */
    margin: .5rem auto 0 auto;
}

.servicios i {
    font-size: 3rem;
    color: var(--secundario);
    margin: 1rem auto;
}
@media screen and (min-width:768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));    
        column-gap: 1rem;
    }
}
/* Portafolio */
.elemento {
    border-bottom: 1px solid #5b5b5b;
    margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
    .listado {
        display: grid;
        grid-template-columns: repeat(3, 1fr );
        column-gap: 2rem;
        /* declarar altura a los rows. max-content que crezca de acuerdo al tamaño mas grande   */
        grid-auto-rows: max-content;       
    }
    /* class elemento creado en JS.  */
    .elemento:nth-child(3) {
        grid-row-end: span 2;
    }
    .elemento {
        border: nonev;
    }
}

/* Footer */
.footer {
    background-image: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--blanco);
    padding: 2rem 0;
}
.footer .widget {
    padding: 1rem;
}
/* quitar la última raya */
.elemento:last-of-type {
    border: none;
}
@media screen and (min-width: 768px) {
    .footer .contenedor {
        display: grid;
        grid-template-columns: repeat(2, 30%) auto;
    }
}